[Unit]
Description=Ban4ip Service
Documentation=https://github.com/disco-v8/Ban4ip
After=network.target iptables.service firewalld.service firewalld.service

[Service]
Type=forking
ExecStart=/usr/bin/ban4ipc start
ExecStop=/usr/bin/ban4ipc stop
ExecReload=/usr/bin/ban4ipc reload
PIDFile=/var/run/ban4ipd.pid
Restart=no

[Install]
WantedBy=multi-user.target
